<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymLinks -SymLinksIfOwnerMatch
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,NC,L]
</IfModule>
